<!--SoCal Sushi home.html-->

<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Bangers|Limelight|Poller+One&display=swap" rel="stylesheet">
        <!--mobile view-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h1 class="homeContent">SoCal Sushi</h1>
        <!--<img id="logo" src="http://nozaruramen.com/img/logo.png"></img>-->
        <img id="logo" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/58876438_2371590046455621_6904127681705541632_n.jpg?_nc_cat=107&_nc_oc=AQnljA8rQrgpsqg4x83XDjU5NBveNcE6vj0_t0o-cBvp3KxjNS7cPqt-yBkufLAWK7gC6WJI1mcLDMr5M0s1WWWA&_nc_ht=scontent-lax3-1.xx&oh=8115525576c0a9619ae2e90141b26228&oe=5E34EB28"></img>
        <div class='homeContent'>
            <a class="centeredLink" href="/menus">Menus</a>
            <a class="centeredLink" href="https://goo.gl/maps/ZQ57AnBscQ5RJxYR9">Location</a>
            <a class="centeredLink" href="tel:619.255.7388">Call</a>
            <!--hours drop down menu?-->
            <p class="centeredLink">Hours</p>
        </div>
    </body>
    
</html>
