<!--SoCal Sushi home.html-->

<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Bangers|Limelight|Poller+One&display=swap" rel="stylesheet">
        <!--mobile view-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h1 class="homeContent">SoCal Sushi</h1>
        <!--<img id="logo" src="http://nozaruramen.com/img/logo.png"></img>-->
        <img id="logo" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/58057686_2370118539936105_7358765973035286528_n.jpg?_nc_cat=102&_nc_oc=AQkgrRNQy9t9YOvYoRynEeGYL18eMNuIYkXY0vsKuk8IzI6TlFZeuvKIpxPaRtRur0rMVliwn0wkTClUCh81ubeJ&_nc_ht=scontent-lax3-1.xx&oh=2674ae0d4cf88bf0a2bbd01502f5e676&oe=5E2206FD"></img>
        <div class='homeContent'>
            <a class="centeredLink" href="/menus">Menus</a>
            <a class="centeredLink" href="https://goo.gl/maps/ZQ57AnBscQ5RJxYR9">Location</a>
            <a class="centeredLink" href="tel:619.255.7388">619.255.7388</a>
            <!--hours drop down menu?-->
            <p class="centeredLink">Hours</p>
        </div>
    </body>
    
</html>
