<!--SoCal Sushi menus.html-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="app.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Bangers|Limelight|Poller+One&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="homeContent">
            <a class="centeredLink" href="/">SoCal Sushi</a>
            <p class="centeredLink">Dinner</p>
        </div>
        
        <img id="menu" src="https://i.pinimg.com/originals/e6/b1/06/e6b106cebcc82388eb46b656fc260dab.jpg"></img>
        
        <div class="homeContent">
            <p class="centeredLink">Lunch</p>
        </div>
        
        <img id="menu" src="http://www.ah-haisushi.com/6239323778/bigmenu/menu-2.jpg"></img>
    </body>
</html>