/*SoCal Sushi app.css*/

/* **PNG IMAGE** Only Nozaru ramen logo*/
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250;
    width: 250px;
    border-radius: 10px 100px / 12px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
}

/* **JPG IMAGE** Only menus*/
#menu{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* **TEXT** Div containing two links (map and menu)*/
.homeContent{
    text-align: center;
    margin-top: 2%;
    /*font-family: 'Poller One', cursive;*/
    font-family: 'Limelight', cursive;
    /*font-family: 'Bangers', cursive;*/
    font-size: 60px;
    white-space: nowrap;
}

/* **TEXT** Links to Map and Menus*/
.centeredLink{
    display: block;
    color: black;
    font-size: 45px;
}

/*@media screen and (max-width: 600px){*/
/*    .homeContent {*/
/*        font-size: 48px;*/
/*    }*/
/*    .centeredLink {*/
/*        font-size: 36px;*/
/*    }*/
/*}*/
